@page "/student-detail/{id:int}"
@using StudentManagementBlazor.GrpcClient
@using DTOS.Requests;
@using DTOS.Responses;
@using AntDesign
@rendermode InteractiveServer

@if(student == null){
	<p>Loading.......</p>
}
else
{
    <Descriptions Title="Student details" Bordered Column="1">
        <DescriptionsItem Title="ID">@student.Id</DescriptionsItem>
        <DescriptionsItem Title="Name">@student.Name</DescriptionsItem>
        <DescriptionsItem Title="Address">@student.Address</DescriptionsItem>
        <DescriptionsItem Title="Date of birth">
            @student.DateOfBirth.ToString("dd/MM/yyyy")
        </DescriptionsItem>
        <DescriptionsItem Title="Class ID">@student.Classroom.Id</DescriptionsItem>
		<DescriptionsItem Title="Class Name">@student.Classroom.Name</DescriptionsItem>
		<DescriptionsItem Title="Subject">@student.Classroom.Subject</DescriptionsItem>
		<DescriptionsItem Title="Teacher ID">@student.Classroom.Teacher.Id</DescriptionsItem>
		<DescriptionsItem Title="Teacher Name">@student.Classroom.Teacher.Name</DescriptionsItem>
    </Descriptions>
}

@code {
	
}
