@page "/students"
@using StudentManagementBlazor.GrpcClient
@using DTOS.Requests;
@using DTOS.Responses;
@using student = DTOS.Responses.Student;
@using AntDesign.Charts
@using AntDesign
@rendermode InteractiveServer


@if (students == null)
{
    <Spin Tip="Đang tải dữ liệu......"/>
}

else
{
    <h3 class="title"><i class="fa-solid fa-chart-simple"></i> Biểu đồ thống kê</h3>
    <Tabs>
        <TabPane Key="1">
            <TabTemplate>Biểu đồ thống kê sinh viên theo lớp</TabTemplate>
            <ChildContent>
                <Bar Data="ClassStats" Config="config1"/>
            </ChildContent>
        </TabPane>
        <TabPane Key="2">
            <TabTemplate>Biểu đồ thống kê sinh viên theo giáo viên</TabTemplate>
            <ChildContent>
                <Bar Data="TeacherStats" Config="config2" />
            </ChildContent>
        </TabPane>
    </Tabs>
    <h3 class="title"><i class="fa-solid fa-list-ul"></i> Danh sách Sinh viên</h3>

    <NavLink href="/create-student" >
        <Button Type="ButtonType.Primary">Add</Button>
    </NavLink>
    <Button Type="ButtonType.Primary" OnClick="@HandleSortByName">Sắp xếp theo tên</Button>
    <Space>
        <Input @bind-Value = "TeacherName" Placeholder="Nhập tên giáo viên....."/>
        <Button OnClick="@HandleSortByTeacher">Tìm kiếm</Button>
    </Space>
    <Button OnClick="@HandleExportExcel">Xuất excel</Button>
    <Table TItem="student" DataSource="Studentdata" RowKey="@(s => s.Id.ToString())" 
        Bordered="true"
        PageSize="7"
    >
        <AntDesign.Column TData="student" Title="Mã">
            <Template>
                @context?.Id
            </Template>
        </AntDesign.Column>

        <AntDesign.Column TData="student" Title="Tên">
            <Template>
                @context?.Name
            </Template>
        </AntDesign.Column>

        <AntDesign.Column TData="student" Title="Ngày sinh">
            <Template>
                @context.DateOfBirth.ToString("dd/MM/yyyy")
            </Template>
        </AntDesign.Column>

        <AntDesign.Column TData="student" Title="Địa chỉ">
            <Template>
                @context?.Address
            </Template>
        </AntDesign.Column>

        <AntDesign.Column TData="student" Title="Mã lớp">
            <Template>
                @context.Classroom.Id
            </Template>
        </AntDesign.Column>

        <AntDesign.Column TData="student" Title="Hành động">
            <Template>
                <Space>
                    <Button OnClick="() => HandleDelete(context.Id)"><i class="fa-solid fa-trash"></i></Button>
                    <Button OnClick="() => NavigateUpdate(context.Id)"><i class="fa-solid fa-pen-nib"></i></Button>
                    <Button OnClick="() => NavigateDetail(context.Id)"><i class="fa-solid fa-circle-info"></i></Button>
                </Space>
            </Template>
        </AntDesign.Column>
    </Table>
    
}
@code{}
